# 2020-11-23 - Projet de Prairie - DCV

## Contexte

Dans ce projet, nous allons explorer un jeu de données afin de découvrir la manipulation de données et construire nos premiers modèles de prédiction de Machine Learning.

Nous allons utiliser un jeu de données mis à disposition par le gouvernement. Cela concerne les valeurs de transactions immobilières. Le but va être de créer un modèle qui prédit le prix du marché d'un bien en fonction de certaines de ses caractéristiques (nombre de pièces, surface, emplacement...).

## Objectifs pédagogiques

* Découvrir la manipulation de données
* Etre sensibiliser au déroulement d'un projet de Data Science

# Sprint 1

## Chargement des données

1. Télécharger les données 
    * Les données du premier semestre 2020 : 
    * La foire aux questions
    * La notice descriptive
    * https://www.data.gouv.fr/fr/datasets/demandes-de-valeurs-foncieres/#_
* Ouvrir un terminal de commande
* Se déplacer dans le dossier où le fichier a été téléchargé
* Quelle est la taille du fichier en MB ?
    1. Tip : commande `ls -h`

In [4]:
106Mb

SyntaxError: invalid syntax (<ipython-input-4-3371acf0a5a2>, line 1)


5. Afficher les premières lignes du fichier
    1. Tip : commande `head`

In [5]:
# Que représente la 1ère ligne ?
Les titres des colonnes

SyntaxError: invalid syntax (<ipython-input-5-635bea90fd18>, line 2)

In [6]:
# Que représentent les lignes suivantes ?
Toutes les transactions effectuées

SyntaxError: invalid syntax (<ipython-input-6-fe7261c45f1c>, line 2)

In [7]:
# Par quel(s) caractère(s) sont séparées les données ?
Le pipe

SyntaxError: invalid syntax (<ipython-input-7-c5f4992f06bc>, line 2)

## Exploration visuelle
* Ouvrir le fichier avec LibreOffice Calc
    1. En précisant le séparateur identifié précédemment

In [8]:
# Combien de lignes comporte le fichier ?
827106

827106

In [9]:
# Quand ont eu lieu la première et la dernière transaction ?
01/01/2020 et 31/05/2020

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-9-dbf557198c30>, line 2)

In [10]:
# Observez le bien situé au "5 RUE DES BEGONIAS, Toulouse"
# Quel est son prix de vente ?

330000
# La TVA est-elle incluse ?

Oui
# Quand a-t-il été vendu ?

14/01/2020
# Quelle est sa surface ?

148m²
# De quel type de bien s'agit-il ?
Maison

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-10-359c33fc6cab>, line 10)

In [11]:
# A quoi fait référence la colonne "No Plan" ?
A la référence cadastrale de la parcelle

SyntaxError: invalid syntax (<ipython-input-11-53f520d854dd>, line 2)

In [12]:
# A quoi correspondent les types : 1, 2, 3, 4 et 5 ?

Au type de local utilisé :
    1 : maison
    2 : appartement
    3 : dépendance (isolée)
    4 : local industriel et commercial ou assimilé
    5 : n'existe pas

SyntaxError: invalid syntax (<ipython-input-12-da98ada4ac6f>, line 3)

In [13]:
# Observez la transaction du "5 RUE COMTE DE LA TEYSSONNIERE, BOURG-EN-BRESSE"
# Quelle est la surface du bien ?
46m²

SyntaxError: invalid character in identifier (<ipython-input-13-fafd36b7b6ab>, line 3)

In [14]:
# Observez la transaction du "1671 CHEMIN DE LA BALMONDIERE, SAINT-ANDRE-D HUIRIAT"
# A quoi correspondent les deux lignes ?

Terrain d'agréments et sols
# Quelle est la surface du bien ?

208

SyntaxError: invalid syntax (<ipython-input-14-1f56a9d7b2d8>, line 4)

Maintenant que nous avons mieux compris les données, nous allons les analyser plus finement avec python.

# Installer l'environnement

In [15]:
# Installer jupyter

# Charger les données

In [16]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/clement/.local/lib/python3.8/site-packages (1.1.4)
Requirement already satisfied: pytz>=2017.2 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.15.4 in /home/clement/.local/lib/python3.8/site-packages (from pandas) (1.19.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)

In [17]:
import pandas as pd

In [18]:
import pandas as pd

In [19]:
# Chargons les données

# Préciser le nom du fichier
filename = "valeursfoncieres-2020.txt"

# Préciser ici le séparateur
separator = "|"


df = pd.read_csv(filename, sep=separator, low_memory=False)

In [20]:
# Affichons les premières lignes
df.head()

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1061.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,AB,NaN,610.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,14/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,AB,NaN,600.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,14/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,AB,NaN,491.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,22/01/2020,Vente,...,NaN,0,1.0,Maison,NaN,78.0,5.0,S,NaN,242.0

In [21]:
# Affichons les colonnes
print(df.columns)

Index(['Code service CH', 'Reference document', '1 Articles CGI',
       '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI',
       'No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local', 'Identifiant local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

In [22]:
## Affichons quelques informations sur le dataframe
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 827105 entries, 0 to 827104
Data columns (total 43 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Code service CH             0 non-null       float64
 1   Reference document          0 non-null       float64
 2   1 Articles CGI              0 non-null       float64
 3   2 Articles CGI              0 non-null       float64
 4   3 Articles CGI              0 non-null       float64
 5   4 Articles CGI              0 non-null       float64
 6   5 Articles CGI              0 non-null       float64
 7   No disposition              827105 non-null  int64
 8   Date mutation               827105 non-null  object
 9   Nature mutation             827105 non-null  object
 10  Valeur fonciere             817376 non-null  object
 11  No voie                     516417 non-null  float64
 12  B/T/Q                       37384 non-null   object
 13  Type de voie                508531 non-null  object
 14  Code voie                   817720 non-null  object
 15  Voie                        817665 non-null  object
 16  Code postal                 817713 non-null  float64
 17  Commune                     827105 non-null  object
 18  Code departement            827105 non-null  object
 19  Code commune                827105 non-null  int64
 20  Prefixe de section          37276 non-null   float64
 21  Section                     827054 non-null  object
 22  No plan                     827105 non-null  int64
 23  No Volume                   2181 non-null    object
 24  1er lot                     274265 non-null  object
 25  Surface Carrez du 1er lot   80479 non-null   object
 26  2eme lot                    59344 non-null   object
 27  Surface Carrez du 2eme lot  19856 non-null   object
 28  3eme lot                    9417 non-null    object
 29  Surface Carrez du 3eme lot  1820 non-null    object
 30  4eme lot                    3349 non-null    float64
 31  Surface Carrez du 4eme lot  476 non-null     object
 32  5eme lot                    1477 non-null    float64
 33  Surface Carrez du 5eme lot  238 non-null     object
 34  Nombre de lots              827105 non-null  int64
 35  Code type local             463460 non-null  float64
 36  Type local                  463460 non-null  object
 37  Identifiant local           0 non-null       float64
 38  Surface reelle bati         462976 non-null  float64
 39  Nombre pieces principales   462976 non-null  float64
 40  Nature culture              549790 non-null  object
 41  Nature culture speciale     35149 non-null   object
 42  Surface terrain             549790 non-null  float64
dtypes: float64(17), int64(4), object(22)
memory usage: 271.3+ MB

In [23]:
# Affichons l'utilisation de la mémoire
df.memory_usage(deep=True)/1000000

df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 827105 entries, 0 to 827104
Data columns (total 43 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Code service CH             0 non-null       float64
 1   Reference document          0 non-null       float64
 2   1 Articles CGI              0 non-null       float64
 3   2 Articles CGI              0 non-null       float64
 4   3 Articles CGI              0 non-null       float64
 5   4 Articles CGI              0 non-null       float64
 6   5 Articles CGI              0 non-null       float64
 7   No disposition              827105 non-null  int64
 8   Date mutation               827105 non-null  object
 9   Nature mutation             827105 non-null  object
 10  Valeur fonciere             817376 non-null  object
 11  No voie                     516417 non-null  float64
 12  B/T/Q                       37384 non-null   object
 13  Type de voie                508531 non-null  object
 14  Code voie                   817720 non-null  object
 15  Voie                        817665 non-null  object
 16  Code postal                 817713 non-null  float64
 17  Commune                     827105 non-null  object
 18  Code departement            827105 non-null  object
 19  Code commune                827105 non-null  int64
 20  Prefixe de section          37276 non-null   float64
 21  Section                     827054 non-null  object
 22  No plan                     827105 non-null  int64
 23  No Volume                   2181 non-null    object
 24  1er lot                     274265 non-null  object
 25  Surface Carrez du 1er lot   80479 non-null   object
 26  2eme lot                    59344 non-null   object
 27  Surface Carrez du 2eme lot  19856 non-null   object
 28  3eme lot                    9417 non-null    object
 29  Surface Carrez du 3eme lot  1820 non-null    object
 30  4eme lot                    3349 non-null    float64
 31  Surface Carrez du 4eme lot  476 non-null     object
 32  5eme lot                    1477 non-null    float64
 33  Surface Carrez du 5eme lot  238 non-null     object
 34  Nombre de lots              827105 non-null  int64
 35  Code type local             463460 non-null  float64
 36  Type local                  463460 non-null  object
 37  Identifiant local           0 non-null       float64
 38  Surface reelle bati         462976 non-null  float64
 39  Nombre pieces principales   462976 non-null  float64
 40  Nature culture              549790 non-null  object
 41  Nature culture speciale     35149 non-null   object
 42  Surface terrain             549790 non-null  float64
dtypes: float64(17), int64(4), object(22)
memory usage: 271.3+ MB

In [24]:
# Quelles sont les 3 colonnes qui occupent le plus de mémoire ?
# REPONSE Voie, Commune, Date mutation

# Quels sont leurs types respectifs ?
object

object

Nous allons sélectionner un sous-ensemble des colonnes

1. Nature de la mutation, 
* Code postal, 
* numéro de département, 
* prix, 
* type de bien, 
* surface réelle, 
* nb pièces principales

In [25]:
# Renseigner le nom des colonnes à conserver
columns_to_keep = ["Code postal",
                   "Code departement",
                   "Valeur fonciere",
                   "Type local",
                   "Surface reelle bati",
                   "Nombre pieces principales",
                   "Nature mutation"]

In [26]:
# Définir le nouveau dataframe
df_light_columns = df[columns_to_keep]

df_light_columns.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 827105 entries, 0 to 827104
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Code postal                817713 non-null  float64
 1   Code departement           827105 non-null  object
 2   Valeur fonciere            817376 non-null  object
 3   Type local                 463460 non-null  object
 4   Surface reelle bati        462976 non-null  float64
 5   Nombre pieces principales  462976 non-null  float64
 6   Nature mutation            827105 non-null  object
dtypes: float64(3), object(4)
memory usage: 44.2+ MB

In [27]:
df_light_columns.head()

,Code postal,Code departement,Valeur fonciere,Type local,Surface reelle bati,Nombre pieces principales,Nature mutation
0,1250.0,01,"8000,00",NaN,NaN,NaN,Vente
1,1960.0,01,"75000,00",NaN,NaN,NaN,Vente
2,1340.0,01,"89000,00",NaN,NaN,NaN,Vente
3,1340.0,01,"89000,00",NaN,NaN,NaN,Vente
4,1000.0,01,"209950,00",Maison,78.0,5.0,Vente

In [28]:
# Quelle est la taille mémoire de ce nouveau dataframe ?
df_light_columns.memory_usage(deep=True)/1000000

# Combien de MB en moins avons-nous par rapport au dataframe initial ?
df_light_columns.info(verbose=True)
a = 271.3-37.9
print('\033[34m',"La différence d'utilisation de mémoire est de",round(a,1),"Mb")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 827105 entries, 0 to 827104
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Code postal                817713 non-null  float64
 1   Code departement           827105 non-null  object
 2   Valeur fonciere            817376 non-null  object
 3   Type local                 463460 non-null  object
 4   Surface reelle bati        462976 non-null  float64
 5   Nombre pieces principales  462976 non-null  float64
 6   Nature mutation            827105 non-null  object
dtypes: float64(3), object(4)
memory usage: 44.2+ MB
 La différence d'utilisation de mémoire est de 233.4 Mb

In [29]:
# Nous allons transformer le type des données
# Dans la colonne "Nature mutation", il n'y a en fait que peu de possibilités
# Nous transformons le type 'object' en type 'category'
df_light_columns['Nature mutation'] = df_light_columns["Nature mutation"].astype('category')
df_light_columns.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 827105 entries, 0 to 827104
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Code postal                817713 non-null  float64
 1   Code departement           827105 non-null  object
 2   Valeur fonciere            817376 non-null  object
 3   Type local                 463460 non-null  object
 4   Surface reelle bati        462976 non-null  float64
 5   Nombre pieces principales  462976 non-null  float64
 6   Nature mutation            827105 non-null  category
dtypes: category(1), float64(3), object(3)
memory usage: 38.7+ MB

<ipython-input-29-60346abd22f3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_light_columns['Nature mutation'] = df_light_columns["Nature mutation"].astype('category')

In [31]:
# Quels sont les changements au niveau du type et de la taille mémoire ?
b = 44.2-38.7
print('\033[34m',"La différence d'utilisation de mémoire est de",round(b,1),"Mb")

 La différence d'utilisation de mémoire est de 5.5 Mb

In [32]:
# Nous allons procéder ainsi pour les autres colonnes qui le nécessitent

columns_to_be_categorical = ["Code departement", "Valeur fonciere"]

for column in columns_to_be_categorical:
    df_light_columns[column] = df_light_columns[column].astype('category')

<ipython-input-32-39e96211b8e2>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_light_columns[column] = df_light_columns[column].astype('category')

In [33]:
df_light_columns.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 827105 entries, 0 to 827104
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Code postal                817713 non-null  float64
 1   Code departement           827105 non-null  category
 2   Valeur fonciere            817376 non-null  category
 3   Type local                 463460 non-null  object
 4   Surface reelle bati        462976 non-null  float64
 5   Nombre pieces principales  462976 non-null  float64
 6   Nature mutation            827105 non-null  category
dtypes: category(3), float64(3), object(1)
memory usage: 31.6+ MB

In [35]:
# Quelle est le gain effectué au niveau de la taille ?
c = 38.7-31.6
print('\033[34m',"La différence d'utilisation de mémoire est de",round(c,1),"Mb")

 La différence d'utilisation de mémoire est de 7.1 Mb

In [36]:
# Essayons d'additionner le prix de deux biens 

# Tout d'abord sélectionnons la ligne 0
row_0 = df_light_columns.iloc[0]
print(row_0)

Code postal                     1250
Code departement                  01
Valeur fonciere              8000,00
Type local                       NaN
Surface reelle bati              NaN
Nombre pieces principales        NaN
Nature mutation                Vente
Name: 0, dtype: object

In [37]:
# Récupérons la colonne voulue
value_0 = row_0["Valeur fonciere"]
print(value_0)

8000,00

In [38]:
# Faire de même pour la ligne 1
row_1 = df_light_columns.iloc[1]

value_1 = row_1["Valeur fonciere"]

print(value_1)

75000,00

In [39]:
# Additionnons les deux
print(value_0 + value_1)

8000,0075000,00

In [40]:
# Qu'observez-vous ?
print("C'est une somme et non une addition")

C'est une somme et non une addition

In [41]:
# Affichons le type de la première valeur
type_0 = type(value_0)
print(type_0)

<class 'str'>

In [42]:
# Il faut changer le type de cette colonne : de string à un entier

df_light_columns['Valeur fonciere'] = df_light_columns["Valeur fonciere"].astype('uint8')

ValueError: Cannot convert float NaN to integer

In [43]:
# Une erreur a dû se déclencher.

# Il faut au préalable changer les virgules par des points

df_light_columns['Valeur fonciere'] = df_light_columns["Valeur fonciere"].str.replace(",",".")

<ipython-input-43-e30d6516c740>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_light_columns['Valeur fonciere'] = df_light_columns["Valeur fonciere"].str.replace(",",".")

In [44]:
# Vérifions que le changement a bien eu lieu
df_light_columns.head()

,Code postal,Code departement,Valeur fonciere,Type local,Surface reelle bati,Nombre pieces principales,Nature mutation
0,1250.0,01,8000.00,NaN,NaN,NaN,Vente
1,1960.0,01,75000.00,NaN,NaN,NaN,Vente
2,1340.0,01,89000.00,NaN,NaN,NaN,Vente
3,1340.0,01,89000.00,NaN,NaN,NaN,Vente
4,1000.0,01,209950.00,Maison,78.0,5.0,Vente

In [45]:
# Recommençons le changement de type
df_light_columns['Valeur fonciere'] = df_light_columns["Valeur fonciere"].astype('float64')

<ipython-input-45-8dd06910e7d3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_light_columns['Valeur fonciere'] = df_light_columns["Valeur fonciere"].astype('float64')

In [46]:
# Vérifions que le changement a bien eu lieu
df_light_columns.head()

,Code postal,Code departement,Valeur fonciere,Type local,Surface reelle bati,Nombre pieces principales,Nature mutation
0,1250.0,01,8000.0,NaN,NaN,NaN,Vente
1,1960.0,01,75000.0,NaN,NaN,NaN,Vente
2,1340.0,01,89000.0,NaN,NaN,NaN,Vente
3,1340.0,01,89000.0,NaN,NaN,NaN,Vente
4,1000.0,01,209950.0,Maison,78.0,5.0,Vente

In [47]:
# Vérifions que le changement de type a bien eu lieu
df_light_columns.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 827105 entries, 0 to 827104
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Code postal                817713 non-null  float64
 1   Code departement           827105 non-null  category
 2   Valeur fonciere            817376 non-null  float64
 3   Type local                 463460 non-null  object
 4   Surface reelle bati        462976 non-null  float64
 5   Nombre pieces principales  462976 non-null  float64
 6   Nature mutation            827105 non-null  category
dtypes: category(2), float64(4), object(1)
memory usage: 33.1+ MB

In [48]:
# Nous allons arrondir pour passer du type float à int
df_light_columns['Valeur fonciere'] = df_light_columns["Valeur fonciere"].astype('uint64')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [49]:
# Une erreur a dû se déclencher.
# Pour quelles raisons ?
print('\033[34m',"Le programme ne peut pas convertir des valeurs non-définie en entier")

 Le programme ne peut pas convertir des valeurs non-définie en entier

In [50]:
# Affichons les lignes qui ont un prix non-défini
df_light_columns['Valeur fonciere'].isna()

0         False
1         False
2         False
3         False
4         False
          ...
827100    False
827101    False
827102    False
827103    False
827104    False
Name: Valeur fonciere, Length: 827105, dtype: bool

In [51]:
# Calculons le nombre de lignes qui ont un prix non-défini
df_light_columns['Valeur fonciere'].isna().sum()

9729

In [52]:
# Combien de lignes ont un prix non-défini ?
#df_light_columns = df_light_columns.dropna(subset=["Valeur fonciere"])
9729

9729

In [53]:
# Vérifions que le changement de type a bien eu lieu
df_light_columns.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 827105 entries, 0 to 827104
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Code postal                817713 non-null  float64
 1   Code departement           827105 non-null  category
 2   Valeur fonciere            817376 non-null  float64
 3   Type local                 463460 non-null  object
 4   Surface reelle bati        462976 non-null  float64
 5   Nombre pieces principales  462976 non-null  float64
 6   Nature mutation            827105 non-null  category
dtypes: category(2), float64(4), object(1)
memory usage: 33.1+ MB

In [54]:
# Combien de lignes comportent dorénavant le dataframe ?
817376

817376

In [55]:
# Dans ce nouveau dataframe, quelles sont les autres colonnes ayant des valeurs nulles ?
print('\033[34m',"Il n'y en a plus")

 Il n'y en a plus

In [56]:
# Afficher le nombre de lignes nulles par colonne
df_light_columns.isna().sum()

Code postal                    9392
Code departement                  0
Valeur fonciere                9729
Type local                   363645
Surface reelle bati          364129
Nombre pieces principales    364129
Nature mutation                   0
dtype: int64

In [57]:
# Nous allons conserver uniquement les lignes complètes 
# et enlever n'importe quelle ligne ayant une valeur nulle

df_light_columns = df_light_columns.dropna()

In [58]:
# Vérifions
df_light_columns.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 461504 entries, 4 to 827104
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Code postal                461504 non-null  float64
 1   Code departement           461504 non-null  category
 2   Valeur fonciere            461504 non-null  float64
 3   Type local                 461504 non-null  object
 4   Surface reelle bati        461504 non-null  float64
 5   Nombre pieces principales  461504 non-null  float64
 6   Nature mutation            461504 non-null  category
dtypes: category(2), float64(4), object(1)
memory usage: 22.0+ MB

In [59]:
# Afficher le nombre de lignes nulles par colonne
df_light_columns.isna().sum()

Code postal                  0
Code departement             0
Valeur fonciere              0
Type local                   0
Surface reelle bati          0
Nombre pieces principales    0
Nature mutation              0
dtype: int64

In [60]:
# Combien de lignes avons-nous dorénavant ?
461504

# Quel pourcentage cela représente-il par rapport au dataset initial ?
print('\033[34m',round((461504/827105)*100),"%")

 56 %

In [61]:
# Revenons à nos moutons
# Nous allons arrondir pour passer du type float à int
df_light_columns['Valeur fonciere'] = df_light_columns["Valeur fonciere"].astype('uint64')

In [62]:
# Vérifions
df_light_columns.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 461504 entries, 4 to 827104
Data columns (total 7 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Code postal                461504 non-null  float64
 1   Code departement           461504 non-null  category
 2   Valeur fonciere            461504 non-null  uint64
 3   Type local                 461504 non-null  object
 4   Surface reelle bati        461504 non-null  float64
 5   Nombre pieces principales  461504 non-null  float64
 6   Nature mutation            461504 non-null  category
dtypes: category(2), float64(3), object(1), uint64(1)
memory usage: 22.0+ MB

In [63]:
# Observons
df_light_columns.head()

,Code postal,Code departement,Valeur fonciere,Type local,Surface reelle bati,Nombre pieces principales,Nature mutation
4,1000.0,01,209950,Maison,78.0,5.0,Vente
9,1000.0,01,207170,Maison,106.0,4.0,Vente
11,1340.0,01,189000,Maison,90.0,4.0,Vente
12,1340.0,01,189000,Local industriel. commercial ou assimilé,0.0,0.0,Vente
18,1851.0,01,715350,Maison,400.0,7.0,Vente

In [64]:
# Que remarquez-vous ?
print('\033[34m',"Les résultats contenant une cellule vide (NaN) ne sont plus affichés")

# Quels traitements supplémentaires pouvons-nous effectuer ?
print('\033[34m',"Nous pourrions n'afficher que certaines données")

 Les résultats contenant une cellule vide (NaN) ne sont plus affichés
 Nous pourrions n'afficher que certaines données

In [65]:
# Nous allons conserver uniquement les ventes
# Affichons les différentes valeurs possibles
df_light_columns["Nature mutation"].value_counts()

Vente                                 458571
Vente en l'état futur d'achèvement      1805
Echange                                  705
Adjudication                             343
Vente terrain à bâtir                     79
Expropriation                              1
Name: Nature mutation, dtype: int64

In [66]:
# Combien de type de mutation existe-il ?
6

6

In [67]:
# Nous allons créer un masque pour ne conserver que les ventes
mask_vente = df_light_columns["Nature mutation"] == "Vente"

# Observons ce masque
print(mask_vente)

4         True
9         True
11        True
12        True
18        True
          ...
827100    True
827101    True
827102    True
827103    True
827104    True
Name: Nature mutation, Length: 461504, dtype: bool

In [68]:
# Nous appliquons ce masque pour ne conserver que les données "True" de ce masque
df_light_columns = df_light_columns[mask_vente]

In [69]:
# Vérifions
df_light_columns["Nature mutation"].value_counts()

Vente                                 458571
Vente terrain à bâtir                      0
Vente en l'état futur d'achèvement         0
Expropriation                              0
Echange                                    0
Adjudication                               0
Name: Nature mutation, dtype: int64

In [70]:
# Combien de lignes venons-nous d'ignorer ?
461504-458571

2933

=> Prochaine étape ... Sprint 2